* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f3eae3;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 40%;
  margin: auto;
}

.content {
  display: flex;
  line-height: 1.3;
}

.col-6 {
  width: 50%;
  background-color: white;
}

.image {
  background: url(images/image-product-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}

.page-text {
  padding: 20px;
}

.btn {
  background-color: green;
  color: white;
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.old-price {
  text-decoration: line-through;
  font-size: 13px;
}
